//
// Config-Prod.swift
// Proton Pass - Created on 08/06/2022.
// Copyright (c) 2022 Proton Technologies AG
//
// This file is part of Proton Pass.
//
// Proton Pass is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Proton Pass is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Proton Pass. If not, see https://www.gnu.org/licenses/.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH=/
ACCOUNT_HOST = https:$(SLASH)/account.proton.me
API_HOST = pass-api.proton.me
CAPTCHA_HOST = https:$(SLASH)/pass-api.proton.me
DEFAULT_PATH = /api
DEFAULT_HOST = https:$(SLASH)/api.protonmail.ch
HUMAN_VERIFICATION_V3_HOST = https:$(SLASH)/verify.proton.me
SIGNUP_DOMAIN = proton.me
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) PROD
