<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>proton.me</string>
			<key>Title</key>
			<string>Sign up domain</string>
			<key>Key</key>
			<string>pref_custom_env_sign_up_domain</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://pass-api.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Captcha host</string>
			<key>Key</key>
			<string>pref_custom_env_captcha_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://verify.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>HV host</string>
			<key>Key</key>
			<string>pref_custom_env_human_verification_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://account.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Account host</string>
			<key>Key</key>
			<string>pref_custom_env_account_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://pass-api.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Default host</string>
			<key>Key</key>
			<string>pref_custom_env_default_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>pass-api.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>API host</string>
			<key>Key</key>
			<string>pref_custom_env_api_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Default path</string>
			<key>Key</key>
			<string>pref_custom_env_default_path</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Title</key>
			<string>Proxy token</string>
			<key>Key</key>
			<string>pref_custom_env_proxy_token</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Default values for prod (with or without &quot;https://&quot; does matter)
- Sign up domain: proton.me
- Captcha host: https://pass-api.proton.me
- HV (human verification) host: https://verify.proton.me
- Account host: https://account.proton.me
- Default host: https://pass-api.proton.me
- API host: pass-api.proton.me
- Default path: /api
- Proxy token: nil</string>
			<key>Title</key>
			<string>Custom environment values</string>
		</dict>
	</array>
</dict>
</plist>
