<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.me.proton.pass</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>App version</string>
			<key>Key</key>
			<string>pref_app_version</string>
			<key>DefaultValue</key>
			<string>-</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Rust version</string>
			<key>Key</key>
			<string>pref_rust_version</string>
			<key>DefaultValue</key>
			<string>-</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>&quot;Automatic&quot; points to black in debug mode &amp; points to prod in release mode. So it always points to prod if app is installed via TestFlight.</string>
			<key>Title</key>
			<string>Environment</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>Black</string>
				<string>Prod</string>
				<string>Scientist</string>
				<string>Custom</string>
			</array>
			<key>Values</key>
			<array>
				<string>automatic</string>
				<string>black</string>
				<string>prod</string>
				<string>scientist</string>
				<string>custom</string>
			</array>
			<key>Title</key>
			<string>Chosen environment</string>
			<key>Key</key>
			<string>pref_environment</string>
			<key>DefaultValue</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Only applicable if chosen environment is &quot;Custom&quot;</string>
			<key>Title</key>
			<string>Custom environment</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Custom environment values</string>
			<key>File</key>
			<string>CustomEnvironmentValues</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Only applicable if chosen environment is &quot;Scientist&quot;</string>
			<key>Title</key>
			<string>Scientist environment</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Title</key>
			<string>Environment name</string>
			<key>Key</key>
			<string>pref_scientist_env_name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Proxy token</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Proxy token</string>
			<key>Key</key>
			<string>pref_custom_env_proxy_token</string>
		</dict>
	</array>
</dict>
</plist>
