<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_VERSION_IDENTIFIER</key>
	<string>$(APP_VERSION_IDENTIFIER)</string>
	<key>ACCOUNT_HOST</key>
	<string>$(ACCOUNT_HOST)</string>
	<key>API_HOST</key>
	<string>$(API_HOST)</string>
	<key>CAPTCHA_HOST</key>
	<string>$(CAPTCHA_HOST)</string>
	<key>DEFAULT_HOST</key>
	<string>$(DEFAULT_HOST)</string>
	<key>DEFAULT_PATH</key>
	<string>$(DEFAULT_PATH)</string>
	<key>HUMAN_VERIFICATION_V3_HOST</key>
	<string>$(HUMAN_VERIFICATION_V3_HOST)</string>
	<key>SIGNUP_DOMAIN</key>
	<string>$(SIGNUP_DOMAIN)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Restrict unwelcome access to your Proton Pass account on this device</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>72e333d0-d159-45e3-ad41-39acb89134e8</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
