<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>App Version</string>
			<key>Key</key>
			<string>pref_app_version</string>
			<key>DefaultValue</key>
			<string>-</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>This will add a &quot;QA Features&quot; option to the bottom of the Profile tab</string>
			<key>Title</key>
			<string>QA features</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable</string>
			<key>Key</key>
			<string>pref_qa_features</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>&quot;Automatic&quot; points to black in debug mode &amp; points to prod in release mode</string>
			<key>Title</key>
			<string>Environment</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>Black</string>
				<string>Prod</string>
				<string>Custom</string>
			</array>
			<key>Values</key>
			<array>
				<string>automatic</string>
				<string>black</string>
				<string>prod</string>
				<string>custom</string>
			</array>
			<key>Title</key>
			<string>Chosen environment</string>
			<key>Key</key>
			<string>pref_environment</string>
			<key>DefaultValue</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Only applicable if chosen environment is &quot;Custom&quot;</string>
			<key>Title</key>
			<string>Custom environment values</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>proton.me</string>
			<key>Title</key>
			<string>Sign up domain</string>
			<key>Key</key>
			<string>pref_custom_env_sign_up_domain</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://pass-api.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Captcha host</string>
			<key>Key</key>
			<string>pref_custom_env_captcha_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://verify.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Human verification host</string>
			<key>Key</key>
			<string>pref_custom_env_human_verification_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://account.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Account host</string>
			<key>Key</key>
			<string>pref_custom_env_account_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://pass-api.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Default host</string>
			<key>Key</key>
			<string>pref_custom_env_default_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>https://pass-api.proton.me</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>API host</string>
			<key>Key</key>
			<string>pref_custom_env_api_host</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>/api</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Default path</string>
			<key>Key</key>
			<string>pref_custom_env_default_path</string>
		</dict>
	</array>
</dict>
</plist>
