<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_VERSION_IDENTIFIER =
	<string>$(APP_VERSION_IDENTIFIER =
	<key>IS_QA_BUILD =
	<string>$(IS_QA_BUILD =
	<key>IS_BETA_BUILD =
	<string>$(IS_BETA_BUILD =
	<key>MODULE</key>
	<string>HOST_APP</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array/>
	<key>GIT_COMMIT_HASH</key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>72e333d0-d159-45e3-ad41-39acb89134e8</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>ddgQuickLink</string>
		<string>firefox</string>
		<string>firefox-focus</string>
		<string>brave</string>
		<string>microsoft-edge</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
