<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_VERSION_IDENTIFIER</key>
	<string>$(APP_VERSION_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>me.proton.pass.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>otpauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>me.proton.pass.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>protonpass</string>
			</array>
		</dict>
	</array>
	<key>GIT_COMMIT_HASH</key>
	<string></string>
	<key>IS_BETA_BUILD</key>
	<string>$(IS_BETA_BUILD)</string>
	<key>IS_QA_BUILD</key>
	<string>$(IS_QA_BUILD)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>ddgQuickLink</string>
		<string>firefox</string>
		<string>firefox-focus</string>
		<string>brave</string>
		<string>microsoft-edge</string>
	</array>
	<key>MODULE</key>
	<string>HOST_APP</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
